extends layout

block content
    link(rel='stylesheet', href='stylesheets/main-view.css')
    script(src='/javascripts/jquery-3.1.1.min.js')
    script(src='/javascripts/d3.min.js')
    script(src='/javascripts/async.min.js')
    #left-panel
    #main-panel
        #top-panel
            span.top-panel-item Folder:
                span#curdir
            span.top-panel-item#curve-selector Curve:
                span#curve-title
                span#curve-selector-items
        .with-border-top#main-view
    include popups.jade
    script(src='/javascripts/main-view.js')
