#left-panel {
    position: fixed;
    top: 0px;
    width: 20%;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 3px 0px 10px 0px #ccc;
    /* background-color: #fcc; */
    background-color: #eee;
    z-index: 10;
    overflow: auto
}
#main-panel {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 20%;
    display: flex;
    flex-flow: column nowrap;
}
#top-panel {
    background-color: #eee;
    flex: 0 0 auto;
}
#top-panel > div {
    padding: 5px;
}

#left-panel > div {
    /* background-color: #f88; */
    margin: 5px;
}
.with-border-top {
    border-top: 1px solid #ddd;
}
#info-message > p {
    margin: 0px 0px 5px 0px;
    padding: 0px;
}
#info-message > .error {
    color: #c00;
}
.info-message-part-header {
    font-weight: bold;
}

#main-view {
    padding: 10px;
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
}

.top-panel-item {
    padding-left: 5px;
}

.top-panel-item > * {
    padding-left: 10px;
}

.top-panel-item:first-child {
    padding-left: 5px;
}

.top-panel-item:not(:first-child) {
    padding-left: 15px;
}

.top-panel-popup-handle {
    display: none;
}

.top-panel-popup {
    position: fixed;
    display: none;
}

.top-panel-popup-content {
    border-bottom: 1px solid #ddd;
    max-height: 600px;
    overflow: auto;
}

.top-panel-popup ul {
    background-color: #eee;
    list-style-type: none;
    padding: 3px 5px;
}

.custom-curve-input {
    padding-top: 5px;
    padding-left: 10px;
}
.custom-curve-input > :first-child {
    padding-right: 15px;
}
.custom-curve-input select {
    margin-left: 5px;
}

.subdir {
}

.subdirs-root {
    padding-right: 5px;
}

.subdirs-sep {
    padding-left: 5px;
    padding-right: 5px;
}

.category-values {
    padding-left: 2ex;
}

.diagram {
    flex: 1;
}

.diagram-legend {
}

.diagram-legend-summary {
    padding-bottom: 5px;
}

.diagram-legend-summary-item {
    display: inline-block;
    padding-right: 25px;
}

.diagram-legend-item {
    display: inline-block;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.diagram-legend-item-mark {
    display: inline-block;
    width: 10px;
    height: 10px;
    position: relative;
    top: 4px;
    /* border: 1px solid #000; */
}

.diagram-legend-item-text {
    padding-left: 5px;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.line-hover, .line:hover {
    stroke-width: 5px;
}

.line-dimmed {
    opacity: 0.4;
}

.grid .tick line {
    stroke: #aaa;
    opacity: 0.7;
}

.grid path {
      stroke-width: 0;
}

.diagram-legend-item-hover, .diagram-legend-item:hover {
    -webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.75);
}

/* see http://stackoverflow.com/questions/6258521/clear-icon-inside-input-text */
.clearable{
    background-image: url('/images/close_search.png');
    background-repeat: no-repeat;
    background-position: right -10px center;
    border: 1px solid #999;
    padding: 3px 18px 3px 4px;     /* Use the same right padding (18) in jQ! */
    border-radius: 3px;
    transition: background 0.4s;
}
.clearable.x  { background-position: right 5px center; } /* (jQ) Show icon */
.clearable.onX{ cursor: pointer; }              /* (jQ) hover cursor style */
.clearable::-ms-clear {display: none; width:0; height:0;} /* Remove IE default X */
